<% layout("/layouts/boilerplate") %>
<div class="div" style="height: 30rem;">
<div class="d-flex justify-content-center" >
  <div class="spinner-border mt-3" role="status" style="height: 10rem; width: 10rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<h4 style="margin-top: 3rem;">The server is under Maintainance.Please Try again Later.</h4>
<form action="/">
  <button type="submit" class="btn btn-primary login">Return to Homepage!</button>
</form>
</div>