<% layout("/layouts/boilerplate") %>


<script src="https://docs.mapbox.com/mapbox-gl-js/assets/routes.js"></script>
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<div class="col-8 offset-3 mt-3">
    <div id="map"></div>
</div>



<script src="/js/map.js"></script>
